<div class="feeling-form">
	<div class="feeling-form-child">
		<h3>Feeling info</h3>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<br />
		<%= f.label :summary %>
		<%= f.text_area :summary, rows: 10 %>
	</div>
</div>