/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "materialize/components/color";

$background-color: color("cyan", "lighten-4") !default;
$primary-color: color("cyan", "darken-2") !default;
$secondary-color: color("cyan", "accent-4") !default;

@import 'materialize';


body {
  background: $background-color;
  margin-bottom: 10%;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3 {
  text-align: center;
}

img {
	height: auto;
}

td {
  padding: 10px;
  border: 1px black solid;
}

nav ul a,
nav .brand-logo {
  color: #111;
}

textarea {
  height: 8em;
}


p {
  font-size: 1em;
  line-height: 2em;
}

#login-page,
#plants-index, #new-plant, #edit-plant,
#feelings-index, #new-feeling, #edit-feeling {
  margin: 2em;
}

.control-buttons, .errors {
  margin: auto;
  width: 100%;
}

.btn {
  vertical-align: center;
  height: auto;
  max-height: 8em;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 10px;
  color: #444;
}


a.crud {
  background: $primary-color;
  color: #eee;
  margin: auto;
  width: 14em;
}

.plant-form {
  display: flex;
  
  .plant-form-child {
    width: 40em;
    flex-grow: 1;
    /*padding: 2em;*/
    margin: auto;

    img {
      display: block;
      margin: auto;
    }

    input[type=file] {
      display: block;
      margin: auto;
    }

  }
}

.checkboxes-form {
  .checkboxes-child {
    
    label {
      color: #222;
      font-size: 1em;
      background: rgba(0, 150, 150, 0.3);
      margin: 0.7em;

    }
  }
}



.button-collapse {
  color: #26a69a;
}


