<p>Welcome. :) How are you feeling?</p>
<br />
<form>
	<input type="text" name="current-feeling" />
	<input type="submit" class="waves-effect waves-light btn" onclick="alert('lol it doesnt work yet! stay tuned!')">
</form>
<p>Or, how would you like to feel?</p>
<form>
	<input type="text" name="future-feeling">
	<input type="submit" class="waves-effect waves-light btn" onclick="alert('lol it doesnt work yet! stay tuned!')">
</form>